.character {
  height: 150px;
  margin: 20px;
  display: flex;
  background: rgb(60, 62, 68);
  border-radius: 12px;
  overflow: hidden;
}

@media screen and (min-width: 600px) {
  .character {
    height: 300px;
  }
}

.character img {
  height: 100%;
}

.stat-info {
  margin-bottom: 20px;
}
.stat-key {
  font-weight: 300;
}
.stat-value {
  font-weight: bold;
}

.info {
  width: 100%;
  padding: 20px 15px;
  overflow: scroll;
}

.stat {
  text-transform: capitalize;
}

.episode-info li {
  margin-bottom: 8px;
}
