.character {
  height: 300px;
  margin: 20px;
  display: flex;
  background: rgb(60, 62, 68);
  border-radius: 12px;
  overflow: hidden;
}

.stat-info {
  margin-bottom: 20px;
}
.stat-key {
  font-weight: 300;
}
.stat-value {
  font-weight: bold;
}

.info {
  padding-top: 20px;
  padding-left: 15px;
}

.stat {
  text-transform: capitalize;
}
