.page-info {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
}

.page-info button:enabled {
  cursor: pointer;
}

.page-list {
  flex: 1;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 20px 0;
  overflow: scroll;
  width: 100%;
}

.page-list > ul {
  display: grid;
  grid-template-columns: repeat(auto-fit, 1fr);
  width: 100%;
}

@media screen and (min-width: 600px) {
  .page-list > ul {
    grid-template-columns: repeat(auto-fit, minmax(600px, 1fr));
  }
}
