.page-info {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
}

.page-info button:enabled {
  cursor: pointer;
}

.page-list {
  flex: 1;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 20px 0;
  overflow: scroll;
  width: 100%;
}

.page-list ul {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(600px,1fr));
  width: 100%;
}
